body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.progress {
    font-size: 18px;
    height: 25px;
}
.tabItem {
    margin-left: 5px;
    font-size: 18px;
    color: black;
    background-color: lightgray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 9999;
}
.tabItem:hover {
    background-color: whitesmoke;
    color: black;
}
.active {
    color: black;
    font-size: 18px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tabLink, .tabLink:hover, .tabLink:active, .tabLink:focus {
    color: black;
}
.tab-content {
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
    max-width: 1600px;
}
.tab-content > .active {
    display: contents;
}
.poster {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 160px;
}
.movieName {
    display: block;
    font-size: 16px;
    margin-left: 2px;
    margin-right: 5px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.movieName:hover {
    text-decoration: underline;
    cursor: pointer;
}
.movieType {
    display: block;
    font-size: 15px;
    margin-left: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
#gridItem {
    margin-bottom: 25px;
}
.col {
    margin-left: 15px;
    margin-right: 15px;
    max-width: 169px;
}
.poster-img-top {
    margin-top: -1px;
    margin-left: -1px;
    margin-bottom: 5px;
    width: 160px;
    height: 240px;
    border: 2px;
    border-color: white;
    border-style: solid;
}
.poster-img-top:hover {
    border-color: lightblue;
}
.td_button {
    padding: 10px !important;
}
.iconButton {
    border-radius: 8px;
    width: 45px;
    height: 40px;
    padding: 0px;
}
#refreshButton {
    height: 40px;
    float: right;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
    z-index: 9999;
}
#form {
    padding-right: 10px;
    padding-left: 10px;
}
#formContainer {
    max-width: 1500px;
}
.inputButton {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 38px;
    padding: 0px 15px 0px 15px;
}
.submitButton {
    border-radius: 8px;
    padding: 0px 15px 0px 15px;
    width: 100%;
    height: 38px;
}
.form-group {
    text-align: left;
}
#typeSelector {
    height: 38px;
}
.ratingText {
    font-size: 16px;
    font-weight: bold;
    font-weight: 400;
}
#movieDetailTitle {
    font-size: 50px;
    margin-bottom: 0px;
}
#movieDetailContent1 {
    font-size: 25px;
    font-weight: 500;
}
#movieDetailContent2 {
    font-size: 18px;
    margin-bottom: 10px;
}
.movieDetailRow {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
}
#movieDetails {
    max-width: 1500px;
}
.pageSelector {
    margin: 15px;
}
.page-link {
    height: 43px;
}